[Unit]
Description=ZeroTier One
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/storage/.opt/bin/zerotier-one
Restart=always
KillMode=process

[Install]
WantedBy=kodi.target
